<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Light Theme</title>
<link rel="stylesheet" type="text/css" href="css/CourseGuide.css">
<script src="js/script_head.js"></script>
</head>
<body>
<!-- Main Container -->
<div class="container">
  <!-- Header -->
  <header class="header">
    <h4 class="logo">Career Detail</h4>
  </header>
  <!-- Hero Section -->
    <section class="intro">
        <div class="column">
            <h3></h3>
            <img src="img/USYD-Logo.png"
                 alt="" class="profile"></div>
        <div class="column">
            <p>${Detail}</p>

        </div>
    </section>

  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">GET IN TOUCH WITH ME</p>
    <div class="button">EMAIL ME </div>
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2021 - <strong>GRID</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
