<center>
    </p >
    <div class="loginbox">
        <img src="img/avator.png" class="avatar">
        <h1 class="logintitle">Login Here</h1>
        <p>
        <form action="/login" method="post" onsubmit="return checkForm()" class="loginform">
            Username: <input name="username" type="text" id="username"/>
            </br>
            </br>
            Password: <input name="password" id="password" type="password"/>
            </br>
            <input value="login" type="submit" id="login"/>
            <script src="js/compiled.pwEncryption.js"></script>
        </form>
        </p >
    </div>
</center>

<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>

<script>
    function checkForm() {
        // let pwd = document.getElementById('password');
        // console.log(md5(pwd.value));
        // pwd.value = md5(pwd.value);
        // return true;
    }


</script>