<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title test</title>
</head>
<body>
    <h1>Hello World</h1>
    <input type="text" id="msg" name="message" size="25"
           value="The eagle flies at twilight">
    <div class="ciphertext"> cipher text<span class="ciphertext-value"></div>
    <script src="../static/js/PKE_module.js"></script>

    <p hidden id="pwd" >This is a test of the PKE framework</p >
    <p id="privateKey">This is a test of the PKE framework</p >
    <p id="publicKey">This is a test of the PKE framework</p >
    <p id="txt">This is a test of the PKE framework</p >
    <p id="sign">This is a test of the PKE framework</p >
    <p id="_src">This is a test of the PKE framework</p >
    <p id="signature">This is a test of the PKE framework</p >
    <p id="verify">This is a test of the PKE framework</p >

</body>
</html>